
{% load static i18n compress%}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      interactive_pandas_dashboard
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
        content="This Projects lets you visually interact with the pandas functions and operations." />
  <meta name="author"
        content="Viren Suresh Ila Patel" />
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
  {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->

  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endcompress %}


{% endblock css %}
<!-- Le javascript
    ================================================== -->
{# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}



<!-- place project specific Javascript in this file -->


{% compress js %}
  <script defer src="{% static 'js/vendors/htmx.min.js' %}"></script>
  <script defer src="{% static 'js/vendors/alpine.min.js' %}"></script>
  <script defer src="{% static 'js/project.js' %}"></script>
{% endcompress %}


{% endblock javascript %}
</head>
<body>
  {% include 'includes/navbar.html' %}
  {% block content %}
  {% endblock content %}
  <!-- /container -->
  {% block modal %}
  {% endblock modal %}
  {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
  {% endblock inline_javascript %}
</body>
</html>
